In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("train.csv")
train_x = data.drop('Survived', axis = 1)
print(train_x)
train_x['Age'] = train_x['Age'].fillna(train_x['Age'].median())
train_x = train_x.drop(['PassengerId', 'Name', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'], axis = 1)
d = {'male': 0 ,'female': 1}
train_x['Sex'] = train_x['Sex'].apply(lambda x:d[x])
train_y = data['Survived']
theta = np.zeros((1, 5))
train_x = train_x.values

train_y = train_y.values.reshape(891, 1)

     PassengerId  Pclass                                               Name  \
0              1       3                            Braund, Mr. Owen Harris
1              2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2              3       3                             Heikkinen, Miss. Laina
3              4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4              5       3                           Allen, Mr. William Henry
5              6       3                                   Moran, Mr. James
6              7       1                            McCarthy, Mr. Timothy J
7              8       3                     Palsson, Master. Gosta Leonard
8              9       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9             10       2                Nasser, Mrs. Nicholas (Adele Achem)
10            11       3                    Sandstrom, Miss. Marguerite Rut
11            12       1                           Bonnell, Miss. Elizabeth
12            13       3                     Saundercock, Mr. William Henry
13            14       3                        Andersson, Mr. Anders Johan
14            15       3               Vestrom, Miss. Hulda Amanda Adolfina
15            16       2                   Hewlett, Mrs. (Mary D Kingcome)
16            17       3                               Rice, Master. Eugene
17            18       2                       Williams, Mr. Charles Eugene
18            19       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...
19            20       3                            Masselmani, Mrs. Fatima
20            21       2                               Fynney, Mr. Joseph J
21            22       2                              Beesley, Mr. Lawrence
22            23       3                        McGowan, Miss. Anna "Annie"
23            24       1                       Sloper, Mr. William Thompson
24            25       3                      Palsson, Miss. Torborg Danira
25            26       3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26            27       3                            Emir, Mr. Farred Chehab
27            28       1                     Fortune, Mr. Charles Alexander
28            29       3                      O'Dwyer, Miss. Ellen "Nellie"
29            30       3                                Todoroff, Mr. Lalio
..           ...     ...                                                ...
861          862       2                        Giles, Mr. Frederick Edward
862          863       1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863          864       3                  Sage, Miss. Dorothy Edith "Dolly"
864          865       2                             Gill, Mr. John William
865          866       2                           Bystrom, Mrs. (Karolina)
866          867       2                       Duran y More, Miss. Asuncion
867          868       1               Roebling, Mr. Washington Augustus II
868          869       3                        van Melkebeke, Mr. Philemon
869          870       3                    Johnson, Master. Harold Theodor
870          871       3                                  Balkic, Mr. Cerin
871          872       1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872          873       1                           Carlsson, Mr. Frans Olof
873          874       3                        Vander Cruyssen, Mr. Victor
874          875       2              Abelson, Mrs. Samuel (Hannah Wizosky)
875          876       3                   Najib, Miss. Adele Kiamie "Jane"
876          877       3                      Gustafsson, Mr. Alfred Ossian
877          878       3                               Petroff, Mr. Nedelio
878          879       3                                 Laleff, Mr. Kristo
879          880       1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880          881       2       Shelley, Mrs. William (Imanita Parrish Hall)
881          882       3                                 Markun, Mr. Johann
882          883       3                       Dahlberg, Miss. Gerda Ulrika
883          884       2                      Banfield, Mr. Frederick James
884          885       3                             Sutehall, Mr. Henry Jr
885          886       3               Rice, Mrs. William (Margaret Norton)
886          887       2                              Montvila, Rev. Juozas
887          888       1                       Graham, Miss. Margaret Edith
888          889       3           Johnston, Miss. Catherine Helen "Carrie"
889          890       1                              Behr, Mr. Karl Howell
890          891       3                                Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket      Fare        Cabin  \
0      male  22.0      1      0         A/5 21171    7.2500          NaN
1    female  38.0      1      0          PC 17599   71.2833          C85
2    female  26.0      0      0  STON/O2. 3101282    7.9250          NaN
3    female  35.0      1      0            113803   53.1000         C123
4      male  35.0      0      0            373450    8.0500          NaN
5      male   NaN      0      0            330877    8.4583          NaN
6      male  54.0      0      0             17463   51.8625          E46
7      male   2.0      3      1            349909   21.0750          NaN
8    female  27.0      0      2            347742   11.1333          NaN
9    female  14.0      1      0            237736   30.0708          NaN
10   female   4.0      1      1           PP 9549   16.7000           G6
11   female  58.0      0      0            113783   26.5500         C103
12     male  20.0      0      0         A/5. 2151    8.0500          NaN
13     male  39.0      1      5            347082   31.2750          NaN
14   female  14.0      0      0            350406    7.8542          NaN
15   female  55.0      0      0            248706   16.0000          NaN
16     male   2.0      4      1            382652   29.1250          NaN
17     male   NaN      0      0            244373   13.0000          NaN
18   female  31.0      1      0            345763   18.0000          NaN
19   female   NaN      0      0              2649    7.2250          NaN
20     male  35.0      0      0            239865   26.0000          NaN
21     male  34.0      0      0            248698   13.0000          D56
22   female  15.0      0      0            330923    8.0292          NaN
23     male  28.0      0      0            113788   35.5000           A6
24   female   8.0      3      1            349909   21.0750          NaN
25   female  38.0      1      5            347077   31.3875          NaN
26     male   NaN      0      0              2631    7.2250          NaN
27     male  19.0      3      2             19950  263.0000  C23 C25 C27
28   female   NaN      0      0            330959    7.8792          NaN
29     male   NaN      0      0            349216    7.8958          NaN
..      ...   ...    ...    ...               ...       ...          ...
861    male  21.0      1      0             28134   11.5000          NaN
862  female  48.0      0      0             17466   25.9292          D17
863  female   NaN      8      2          CA. 2343   69.5500          NaN
864    male  24.0      0      0            233866   13.0000          NaN
865  female  42.0      0      0            236852   13.0000          NaN
866  female  27.0      1      0     SC/PARIS 2149   13.8583          NaN
867    male  31.0      0      0          PC 17590   50.4958          A24
868    male   NaN      0      0            345777    9.5000          NaN
869    male   4.0      1      1            347742   11.1333          NaN
870    male  26.0      0      0            349248    7.8958          NaN
871  female  47.0      1      1             11751   52.5542          D35
872    male  33.0      0      0               695    5.0000  B51 B53 B55
873    male  47.0      0      0            345765    9.0000          NaN
874  female  28.0      1      0         P/PP 3381   24.0000          NaN
875  female  15.0      0      0              2667    7.2250          NaN
876    male  20.0      0      0              7534    9.8458          NaN
877    male  19.0      0      0            349212    7.8958          NaN
878    male   NaN      0      0            349217    7.8958          NaN
879  female  56.0      0      1             11767   83.1583          C50
880  female  25.0      0      1            230433   26.0000          NaN
881    male  33.0      0      0            349257    7.8958          NaN
882  female  22.0      0      0              7552   10.5167          NaN
883    male  28.0      0      0  C.A./SOTON 34068   10.5000          NaN
884    male  25.0      0      0   SOTON/OQ 392076    7.0500          NaN
885  female  39.0      0      5            382652   29.1250          NaN
886    male  27.0      0      0            211536   13.0000          NaN
887  female  19.0      0      0            112053   30.0000          B42
888  female   NaN      1      2        W./C. 6607   23.4500          NaN
889    male  26.0      0      0            111369   30.0000         C148
890    male  32.0      0      0            370376    7.7500          NaN

    Embarked
0          S
1          C
2          S
3          S
4          S
5          Q
6          S
7          S
8          S
9          C
10         S
11         S
12         S
13         S
14         S
15         S
16         Q
17         S
18         S
19         C
20         S
21         S
22         Q
23         S
24         S
25         S
26         C
27         S
28         Q
29         S
..       ...
861        S
862        S
863        S
864        S
865        S
866        C
867        S
868        S
869        S
870        S
871        S
872        S
873        S
874        C
875        C
876        S
877        S
878        S
879        C
880        S
881        S
882        S
883        S
884        S
885        Q
886        S
887        S
888        S
889        C
890        Q

[891 rows x 11 columns]

In [6]:
test_x = pd.read_csv("test.csv")
test_x = test_x.drop(['PassengerId', 'Name', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'], axis = 1)
test_x['Sex'] = test_x['Sex'].apply(lambda x:d[x])
test_x['Age'] = test_x['Age'].fillna(test_x['Age'].median())
test_x = test_x.values
test_y = pd.read_csv("gender_submission.csv")
test_y = test_y.drop(['PassengerId'], axis = 1)
test_y = test_y.values

In [7]:
ones = np.ones((891, 1))
train_x = np.concatenate((ones, train_x), axis=1)
print(train_x.shape)
ones = np.ones((418, 1))
test_x = np.concatenate((ones, test_x), axis = 1)
print(test_x.shape)

(891, 5)
(418, 5)

In [8]:
def hypothesis(x, theta):
    h = np.zeros([891, 1])
    for i in range(len(x)):
        a = x[i]
        h[i][0] = 1 / (1 + np.exp(-np.sum(np.dot(a, theta.T))) - 1)
    return h

def hypothesis_test(x, theta):
    h = np.zeros([418, 1])
    for i in range(len(x)):
        a = x[i]
        h[i][0] = 1 / (1 + np.exp(-np.sum(np.dot(a, theta.T))) - 1)
    return h

def costfn(x, y, theta):
    predictions = hypothesis(x, theta)
    c = (-y) * math.log(predictions) - (1 - y) * math.log(1 - predictions)
    return c

def gradient(x, y, theta, alpha, iterations):
    for i in range(iterations):
        h = hypothesis(x, theta)
        loss = h - y
        g = loss.T.dot(x) / len(y)
        theta = theta - alpha * g
    return theta

def decide(prob):
    for i in range(len(prob)):
        if prob[i] < 0.5:
            prob[i] = 0
        else:
            prob[i] = 1
    return prob

In [9]:
theta = gradient(train_x, train_y, theta, 0.005, 7000)
prob = hypothesis_test(test_x, theta)
z = prob.mean()
for i in range(len(prob)):
    if prob[i] == 0:
        prob[i] = z
prob = decide(hypothesis_test(test_x, theta))

In [10]:
score = 0
for i in range(len(prob)):
    if prob[i] == test_y[i]:
        score = score + 1
print(score)

387

In [11]:
accuracy = 387 / 418 * 100
print(accuracy)

92.58373205741627

In [16]:
#F1 score
tp = 0
tn = 0
fn = 0
fp = 0
for i in range(len(prob)):
    if prob[i] == 1 and test_y[i] == 1:
        tp = tp + 1
    elif prob[i] == 0 and test_y[i] == 0:
        tn = tn + 1
    elif prob[i] == 1 and test_y[i] == 0:
        fp = fp + 1
    elif prob[i] == 0 and test_y[i] == 1:
        fn = fn + 1

precision = tp / (tp + fp)
recall = tp / (tp + fn)
f1 = 2 * (precision * recall) / (precision + recall)
print(f1)

0.8872727272727273