In [11]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt


data = pd.read_csv('pima-indians-diabetes-database/diabetes.csv') #read the data
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [17]:
X = data.iloc[:,:-1]
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [19]:
y=data.iloc[:,-1]
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [20]:
X_train ,X_test ,y_train ,y_test = train_test_split(X,y,test_size=0.2,random_state=4)

In [21]:
print(X_train.shape)
print(X_test.shape)

(614, 8)
(154, 8)

In [22]:

print(y_train.shape)
print(y_test.shape)

(614,)
(154,)

In [23]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
k_range = range(1,26)
score = {}
score_list = []
for k in k_range:
        knn = KNeighborsClassifier(n_neighbors=k)
        knn.fit(X_train,y_train)
        y_pred=knn.predict(X_test)
        score[k] = metrics.accuracy_score(y_test,y_pred)
        score_list.append(metrics.accuracy_score(y_test,y_pred))

In [24]:
score

{1: 0.7012987012987013,
 2: 0.7597402597402597,
 3: 0.7337662337662337,
 4: 0.7532467532467533,
 5: 0.7272727272727273,
 6: 0.7662337662337663,
 7: 0.7532467532467533,
 8: 0.7532467532467533,
 9: 0.7532467532467533,
 10: 0.7597402597402597,
 11: 0.7532467532467533,
 12: 0.7597402597402597,
 13: 0.7532467532467533,
 14: 0.7727272727272727,
 15: 0.7337662337662337,
 16: 0.7532467532467533,
 17: 0.7467532467532467,
 18: 0.7727272727272727,
 19: 0.7597402597402597,
 20: 0.7727272727272727,
 21: 0.7532467532467533,
 22: 0.7532467532467533,
 23: 0.7597402597402597,
 24: 0.7597402597402597,
 25: 0.7597402597402597}

In [25]:

knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [27]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
result = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(result)
result1 = classification_report(y_test, y_pred)
print("Classification Report:",)
print (result1)
result2 = accuracy_score(y_test,y_pred)
print("Accuracy:",result2)

Confusion Matrix:
[[90 12]
 [25 27]]
Classification Report:
              precision    recall  f1-score   support

           0       0.78      0.88      0.83       102
           1       0.69      0.52      0.59        52

    accuracy                           0.76       154
   macro avg       0.74      0.70      0.71       154
weighted avg       0.75      0.76      0.75       154

Accuracy: 0.7597402597402597